/** DISPLAY FLEX **/

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center; 
}

/** FONTE **/

.fonte-padrao{
    color: #5c5c5c;
    letter-spacing: 3px;
}



/** HEADER **/

body{
    
    
    line-height: 26px;
    font-family: "Cinzel-Regular", "Arial", sans-serif;
    font-weight: lighter;
    text-transform: none;
    letter-spacing: 0;
    color: #3b3b3b;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    
}

#wrap{
    background: #F5F5F5;
    height: 100%;
    margin: 20px;
}


.lista{
    list-style: none;
}


#header{
    height: 100px;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid rgb(2, 242, 198);
}


.item-menu {
    font-size: 1.2em;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    text-transform: uppercase;
    text-decoration: none;
    word-spacing: 1px;
}

#header li+li{
    margin-left: 20px;
}

.item-menu:before {
    content: "";
    position: absolute;
    width: 100%;
    height:1px;
    bottom: 0;
    left: 0;
    background-color:rgb(2, 242, 198);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.item-menu:hover {
    opacity: 1 !important;
    color: rgb(2, 242, 198);
    transition-duration: 0.8s;
    
}

.item-menu:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.item-menu:before {
    bottom: -2px;
}

.arrow{
    content: "";
    display: inline-block;
    width: 3em;
    height: 3em;
    border-right: 1px solid #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
    transform: rotate(45deg);
    cursor: pointer;
    transition: 0.3s;
}


.arrow:hover{
    border-right: 1px solid rgb(2, 242, 198);
    border-bottom: 1px solid rgb(2, 242, 198);
    transition: 0.3s;
}




.titulo-principal{ 
    display: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #5c5c5c;
}



.destaque {
    animation: MoveUpDown 1.5s linear infinite;
    position: relative;
    
    
}

@keyframes MoveUpDown {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 0;
    }
}
