@font-face {
    font-family: Hero;
    src: url('../fonts/hero/Hero.otf');
}

@font-face {
    font-family: HeroLight;
    src: url('../fonts/hero/HeroLight.otf');
}

@font-face {
    font-family: FiraSans-Regular;
    src: url('../fonts/FiraSans-Regular.otf');
}


/* Flex */

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center; 
}