#container-sobre {
    max-width: 800px;
    margin: 0 auto;
    color: black;
    text-align: center;
}

#container-sobre span {
    color: #00e7b4;
    font-size: 101%;
    font-weight: bold;
}

#sobre {
    background: #f5f5f5;
}

#sobre:not(#container-sobre) {
    /* -webkit-filter: grayscale(1); */
    /*  filter: grayscale(.5); */
}

#countup p {
    display: inline-block;
    padding: 5px;
    background: #FFA500;
    margin: 0 0 20px;
}

/****************************************/

/* ******************************************************
	Animated Skills Bar
*********************************************************/

#codeconSkills {
    font-size: 20px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
}

#codeconSkills h2 {
    margin-left: 46px;
    color: rgb(150, 150, 150);
}

#codeconSkills img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
}

.codeconSkillbar {
    box-shadow: 3px 4px 5px #bababa;
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, 0.05);
    margin: 20px auto;
}

#codeconHTML {
    width: 70%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #F26525;
}

@keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 70%
    }
}

@-webkit-keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 70%
    }
}

@-moz-keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 70%
    }
}

@-o-keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 70%
    }
}

#codeconCSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #00e7b4;
}

@keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 70%
    }
}

@-webkit-keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 70%
    }
}

@-moz-keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 70%
    }
}

@-o-keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 70%
    }
}

#codeconjQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #99856d;
}

@keyframes Animate-jQuery {
    from {
        width: 10px;
    }
    to {
        width: 60%
    }
}

@-webkit-keyframes Animate-jQuery {
    from {
        width: 10px;
    }
    to {
        width: 60%
    }
}

@-moz-keyframes Animate-jQuery {
    from {
        width: 10px;
    }
    to {
        width: 60%
    }
}

@-o-keyframes Animate-jQuery {
    from {
        width: 10px;
    }
    to {
        width: 60%
    }
}

#codeconJS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}

@keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 60%
    }
}

@-webkit-keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 60%
    }
}

@-moz-keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 60%
    }
}

@-o-keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 60%
    }
}

#codeconResponsive {
    animation: Animate-Responsive 4s;
    -webkit-animation: Animate-Responsive 4s;
    -moz-animation: Animate-Responsive 4s;
    -o-animation: Animate-Responsive 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #5aa669;
}

@keyframes Animate-Responsive {
    from {
        width: 10px;
    }
    to {
        width: 40%
    }
}

@-webkit-keyframes Animate-Responsive {
    from {
        width: 10px;
    }
    to {
        width: 40%
    }
}

@-moz-keyframes Animate-Responsive {
    from {
        width: 10px;
    }
    to {
        width: 40%
    }
}

@-o-keyframes Animate-Responsive {
    from {
        width: 10px;
    }
    to {
        width: 40%
    }
}

#codeconC {
    animation: Animate-C 6s;
    -webkit-animation: Animate-C 6s;
    -moz-animation: Animate-C 6s;
    -o-animation: Animate-C 6s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #970cc1;
}

@keyframes Animate-C {
    from {
        width: 10px;
    }
    to {
        width: 50%
    }
}

@-webkit-keyframes Animate-C {
    from {
        width: 10px;
    }
    to {
        width: 30%
    }
}

@-moz-keyframes Animate-C {
    from {
        width: 10px;
    }
    to {
        width: 30%
    }
}

@-o-keyframes Animate-C {
    from {
        width: 10px;
    }
    to {
        width: 30%
    }
}

#codeconJAVA {
    animation: Animate-JAVA 6s;
    -webkit-animation: Animate-JAVA 6s;
    -moz-animation: Animate-JAVA 6s;
    -o-animation: Animate-JAVA 6s;
    width: 25%;
    height: 50px;
    position: absolute;
    background-color: #8e930c;
}

@keyframes Animate-JAVA {
    from {
        width: 10px;
    }
    to {
        width: 25%
    }
}

@-webkit-keyframes Animate-JAVA {
    from {
        width: 10px;
    }
    to {
        width: 25%
    }
}

@-moz-keyframes Animate-JAVA {
    from {
        width: 10px;
    }
    to {
        width: 25%
    }
}

@-o-keyframes Animate-JAVA {
    from {
        width: 10px;
    }
    to {
        width: 25%
    }
}

#codeconPHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}

@keyframes Animate-PHP {
    from {
        width: 10px;
    }
    to {
        width: 50%
    }
}

@-webkit-keyframes Animate-PHP {
    from {
        width: 10px;
    }
    to {
        width: 50%
    }
}

@-moz-keyframes Animate-PHP {
    from {
        width: 10px;
    }
    to {
        width: 50%
    }
}

@-o-keyframes Animate-PHP {
    from {
        width: 10px;
    }
    to {
        width: 50%
    }
}

#codeconSQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}

@keyframes Animate-SQL {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}

@-webkit-keyframes Animate-SQL {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}

@-moz-keyframes Animate-SQL {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}

@-o-keyframes Animate-SQL {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}

#codeconVBNET {
    animation: Animate-VBNET 4s;
    -webkit-animation: Animate-VBNET 4s;
    -moz-animation: Animate-VBNET 4s;
    -o-animation: Animate-VBNET 4s;
    width: 35%;
    height: 50px;
    position: absolute;
    background-color: #f8a51e;
}

@keyframes Animate-VBNET {
    from {
        width: 10px;
    }
    to {
        width: 35%
    }
}

@-webkit-keyframes Animate-VBNET {
    from {
        width: 10px;
    }
    to {
        width: 35%
    }
}

@-moz-keyframes Animate-VBNET {
    from {
        width: 10px;
    }
    to {
        width: 35%
    }
}

@-o-keyframes Animate-VBNET {
    from {
        width: 10px;
    }
    to {
        width: 35%
    }
}

.codeconSkillArea {
    z-index: 1;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    font-size: 18px;
}

.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-size: 18px;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,100,200,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Exo:400,400italic,500,600,700,800,900,300,200,100);
/*
	font-family: 'PT Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Exo', sans-serif;
	
*/

.container>header,
.codecon-top {
    font-family: 'PT Sans', sans-serif;
}

.container>header {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    color: #89867e;
}

.container>header h1 {
    font-size: 2.625em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

.container>header span {
    display: block;
    font-size: 60%;
    color: #ceccc6;
    padding: 0 0 0.6em 0.1em;
}

/* To Navigation Style */

.codecon-top {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    font-size: 0.69em;
    line-height: 2.2;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}

.codecon-top a {
    text-decoration: none;
    padding: 0 1em;
    letter-spacing: 0.1em;
    color: #888;
    display: inline-block;
}

.codecon-top a:hover {
    background: rgba(255, 255, 255, 0.95);
    color: #716d62;
}

.codecon-top span.right {
    float: right;
}

.codecon-top span.right a {
    float: left;
    display: block;
}

.container>section {
    margin: 0 auto;
    padding: 3em;
    text-align: center;
}

@media screen and (max-width: 25em) {}

hr {
    width: 100%;
}

/********/

* {
    box-sizing: border-box;
}

.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}

.vertical {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    white-space: nowrap;
    display: block;
    bottom: 0;
    width: 20px;
    position: relative;
    font-size: 2em;
    bottom: 60px;
}